<!DOCTYPE html>
<html {{ function('language_attributes') }}>
<head>
    <meta charset="{{ function('bloginfo','charset') }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <title>{% if post.title %}{{ post.title }} | {% endif %}{{ site.name }}</title>

    <link rel="shortcut icon" href="{{ theme.link }}/img/favicon.png" />
    {{ function('wp_head') }}

    <!-- google site verification for our youtube channel !-->
    <meta name="google-site-verification" content="V4HVmo1Pkabvd_Dnx4T4hfGYeWsTzXVmdYPCNJYHoMw" />

    <meta name="description" content="{{ meta_desc }}" />

    <!-- Twitter Card data -->
    <meta name="twitter:card" value="summary">

    <!-- Open Graph data -->
    <meta property="og:title" content="{{ meta_title }}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ meta_url }}" />
    {{ meta_user_img_tag }}
    <meta property="og:image" content="{{ theme.link }}/img/hero_boat.png" />
    <meta property="og:image" content="{{ theme.link }}/img/og2.jpg" />
    <meta property="og:description" content="{{ meta_desc }}" />

    {{ function('wp_reset_postdata') }}
    <script>
        var on_forums_page = false;
    </script>
</head>
<body {{ function('body_class') }}>
<div id="wrapper" class="hfeed">
    <div id="mainsitenav">
        <nav class="navbar navbar-inverse navbar-fixed-top{% if function('is_admin_bar_showing') %} wp_admin_bar_showing{% endif %}">
        <div class="container">
            <div class="col-xs-3">
                <ul class="nav">
                    <li role="presentation" class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-haspopup="true" aria-expanded="false">
                            Menu
                        </a>
                        <ul id="nav-dropdown" class="dropdown-menu">
                            {% for item in nav_menu.get_items %}
                                <li><a href="{{ item.get_link }}">{{item.title}}</a></li>
                                {% if item.get_children %}
                                    {% for child in item.get_children %}
                                        <li class="child"><a href="{{ child.get_link }}">{{child.title}}</a></li>
                                    {% endfor %}
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="col-xs-6 navbar-header">
                <a href="/">
                    <img alt="Brand" src="{{ theme.link }}/img/hero_JoCo_LoGo.svg">
                </a>
            </div>
            <div class="col-xs-3">
                <a onclick="$('body').animate({ scrollTop: 0 }, 'fast');" id="nav-arrow-to-top" class="navbar-item-right">
                    <span class="glyphicon glyphicon-menu-up"></span>
                    <br>Top
                </a>
            </div>
        </div>
        </nav>
    </div>

{% block content %}
{% endblock %}

<div class="clear"></div>
</div>
<footer>
    <!--sponsors	-->
    <section id="sponsors">
        <div class="container headers">
            <h1>Thanks To Our Sponsors</h1>
            <div>
                {% for sponsor in get_sponsors() %}
                    <div class="{% if sponsor.double_wide %}col-xs-12 col-sm-6 col-lg-4{% else %}col-xs-6 col-sm-3 col-lg-2{% endif %}">
                        <div class="{% if sponsor.double_wide %}sponsor_square_double{% else %}sponsor_square{% endif %} {{ sponsor.portrait_landscape() }}">
                            <a href="{{ sponsor.sponsor_website }}" target="_blank">
                                <img src="{% if sponsor.double_wide %}{{ sponsor.thumbnail.src('medium') }}{% else %}{{ sponsor.thumbnail.src('large') }}{% endif %}"
                                     alt="{{ sponsor.title }} Logo" />
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <div class="footer-info">
        <small>&copy;{{ year }} JoCoCruise {{ options.footer_text }}</small>
    </div>
</footer>
</div>
<script>
    // Google analytics
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-56667211-2', 'auto');
    ga('send', 'pageview');
</script>
<script type="text/javascript">
    // Perfect Audience
    (function() {
        window._pa = window._pa || {};
        // _pa.orderId = "myOrderId"; // OPTIONAL: attach unique conversion identifier to conversions
        // _pa.revenue = "19.99"; // OPTIONAL: attach dynamic purchase values to conversions
        // _pa.productId = "myProductId"; // OPTIONAL: Include product ID for use with dynamic ads
        var pa = document.createElement('script'); pa.type = 'text/javascript'; pa.async = true;
        pa.src = ('https:' == document.location.protocol ? 'https:' : 'http:') + "//tag.marinsm.com/serve/5a79352832263283840000b5.js";
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(pa, s);
    })();
</script>

{{ function("wp_footer") }}
</body>
</html>
