{% extends 'page-base.twig' %}


{% block content %}

    <section id="hero" class="joco_blue">
        <div class="container">
            <div class="col-xs-12 col-md-12">
                <img src="{{ template_uri }}/img/hero_JoCo_LoGo.svg" alt="A styled JoCo Cruise logotype."
                     id="hero-joco-logo">
            </div>
            {% if booking_enabled %}
                <div class="col-xs-12 col-sm-4 col-sm-offset-2">
                    <a class="btn btn-lg btn-default hero-button"
                       href="{{ booking_url }}">{{ hero_book_now }}</a>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <a class="btn btn-lg btn-default hero-button"
                       href="{{ hero_already_booked_url }}">{{ hero_already_booked }}</a>
                </div>
            {% endif %}
        </div>
    </section>

    {% if travel_desc or travel_desc_more %}
        <section id="hero-about">
            <div class="container">
                <div class="col-xs-12 col-md-12">
                    <p id="hero-travel-description">{{ travel_desc }}</p>
                </div>
                <div id="hero-travel-description-more" class="col-xs-6 col-sm-7 col-md-8 col-lg-9">
                    <p>{{ travel_desc_more }}</p>
                    {% if booking_enabled %}
                        <div id="hero-booking">
                            <a href="{{ booking_url }}" class="btn btn-lg btn-primary"
                               id="hero-book-now">{{ booking_cta?:'Book Now' }}</a>
                        </div>
                    {% endif %}
                </div>
                <div class="col-xs-6 col-sm-5 col-md-4 col-lg-3">
                    <img id="hero-boat" class="img-responsive"
                         src="{{ template_uri }}/img/hero_boat.svg" alt="An animated cruise ship">
                </div>
            </div>
        </section>
    {% endif %}

    {% if show_news %}
        <section id="news" class="headers joco_blue">
            <div class="container">
                <div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
                    <div id="news-header">
                        <h1>{{ news_header }}</h1>
                    </div>
                    <div id="news-container" class="slick-element">
                        {% for post in news_posts %}
                            <div class="news-item">

                                <a class="news-item-title"
                                   href="{{ post.permalink }}"><span>{{ post.title }}</span></a>
                                {#
                                this is nasty... but we are using a wp function in here to get
                                this stuff without tags... etc
                                #}
                                {{ function('setup_postdata', post)?'' }}
                                {% if post.post_excerpt %}
                                    {{ function('the_excerpt') }}
                                {% else %}
                                    {{ function('the_content','more...')?'':'' }}
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                    {% if news_posts|length>0 %}
                        <a id="news-view-all" href="{{ news_view_url }}">{{ news_view_all }}</a>
                    {% endif %}
                </div>
            </div>
        </section>
    {% endif %}

{% endblock %}