{% extends 'base.twig' %}

{% macro artist_group_header(raw_header_or_blank) %}
    {% if raw_header_or_blank is not empty %}
        <div class="clearfix col-xs-12">
            <h3 class="slant_header">
                {{ raw_header_or_blank|piped_header }}
            </h3>
        </div>
    {% else %}
        <div class="col-xs-12" style="padding-top:33px;"></div>
    {% endif %}
{% endmacro %}

{% macro artist_group(raw_header_or_blank, artist_list) %}
    {% if raw_header_or_blank is not empty and artist_list is not empty %}
        {{ _self.artist_group_header(raw_header_or_blank) }}
        {% include 'artists_frontpage.twig' with {'artists':artist_list} %}
    {% endif %}
{% endmacro %}

{% import _self as m %}

{% block content %}
    <section id="content" role="main">

        <section id="hero" class="joco_blue {{ not options.enable_booking?'booking-disable' }}">
            <div class="container">
                <div class="col-xs-12 col-md-12">
                    <img src="{{ theme.link }}/img/hero_JoCo_LoGo.svg" alt="A styled JoCo Cruise logotype."
                         id="hero-joco-logo" style="margin:80px 0 55px;">
                </div>
                {% if options.enable_booking %}
                    <div class="col-xs-12 col-sm-4 col-sm-offset-2">
                        <a class="btn btn-lg btn-default hero-button"
                           href="{{ options.booking_path }}">{{ options.hero_book_now_button }}</a>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <a class="btn btn-lg btn-default hero-button"
                           href="{{ options.hero_already_booked_url }}">{{ options.hero_already_booked_button }}</a>
                    </div>
                {% endif %}
            </div>
        </section>
        {% if options.countdown_timer and options.countdown_timer_unix>date().timestamp %}
            <section id="countdown-timer" style="display: none">
                <div class="container">
                    <div class="col-xs-12 col-md-12">
                        {% set replace_array = {
                        '%DATE%':'<span class="date">date</span>',
                        '%TIMER%':'<span class="timer">timer</span>'
                        } %}
                        <h5>{{ options.countdown_timer_header_copy|replace(replace_array) }}</h5>

                        <a class="btn btn-lg btn-primary"
                           href="{{ options.countdown_timer_button_link }}">{{ options.countdown_timer_button_copy }}</a>

                        <p>{{ options.countdown_timer_footer_copy|replace(replace_array) }}</p>
                    </div>
                </div>
            </section>
            <script type="text/javascript">
                jQuery(document).ready(function () {
                    (function ($) {
                        var expDate = new Date({{ options.countdown_timer_unix * 1000 }});

                        $('#countdown-timer .date').text(expDate.toLocaleDateString() + ' at ' + expDate.toLocaleTimeString());


                        function tick() {
                            var now = new Date();
                            var remSec = (expDate.getTime() - now.getTime()) / 1000;

                            var ndays = Math.floor(remSec / (24 * 60 * 60));
                            var nhrs = Math.floor((remSec % (24 * 60 * 60)) / (60 * 60));
                            var nmin = Math.floor((remSec % (60 * 60)) / (60));
                            var nsec = Math.floor(remSec % 60);

                            var timer = sprintf('%2d hour%s and %02d:%02d',
                                nhrs, nhrs > 1 ? 's' : '', nmin, nsec);

                            if (ndays) {
                                timer = sprintf('%d day%s, ', ndays, ndays > 1 ? 's' : '') + timer;
                            }
                            $('#countdown-timer .timer').text(timer);
                        }

                        tick();
                        var intervalID = setInterval(tick, 1000);
                        $('#countdown-timer').fadeIn(500);
                    })(jQuery);
                });
            </script>
        {% endif %}
        {% if options.travel_description or options.travel_description_more %}
            <section id="hero-about">
                <div class="container">
                    <div class="col-xs-12 col-md-12">
                        <p id="hero-travel-description">{{ options.travel_description }}</p>
                    </div>
                    <div id="hero-travel-description-more" class="col-xs-6 col-sm-7 col-md-8 col-lg-9">
                        <p>{{ options.travel_description_more }}</p>
                        {% if options.enable_booking %}
                            <div id="hero-booking">
                                <a href="{{ options.booking_path }}" class="btn btn-lg btn-primary"
                                   id="hero-book-now">{{ options.button_call_to_action?:'Book Now' }}</a>
                            </div>
                        {% endif %}
                    </div>
                    <div class="col-xs-6 col-sm-5 col-md-4 col-lg-3">
                        <img id="hero-boat" class="img-responsive"
                             src="{{ theme.link }}/img/hero_boat.svg" alt="An animated cruise ship">
                    </div>
                </div>
            </section>
        {% endif %}

        {% if show_news %}
            <section id="news" class="headers joco_blue">
                <div class="container">
                    <div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
                        <div id="news-header">
                            <h1>{{ options.news_header }}</h1>
                        </div>
                        <div id="news-container" class="slick-element">
                            {% for post in news_posts %}
                                <div class="news-item">

                                    <a class="news-item-title"
                                       href="{{ post.link }}"><span>{{ post.title }}</span></a>
                                    {#
                                    this is nasty... but we are using a wp function in here to get
                                    this stuff without tags... etc
                                    #}
                                    {{ post.joco_excerpt('more...') }}
                                </div>
                            {% endfor %}
                        </div>
                        {% if news_posts|length>0 %}
                            <a id="news-view-all"
                               href="{{ options.news_view_all_url }}">{{ options.news_view_all_copy }}</a>
                        {% endif %}
                    </div>
                </div>
            </section>
        {% endif %}

        {% if show_mailing_function %}
            <section id="mailing-list" class="headers joco_beige">
                <div class="container">
                    <div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
                        <h1>{{ options.mailing_list_call_to_action }}</h1>
                        {% do function(show_mailing_function) %}
                    </div>
                </div>
            </section>
        {% endif %}

        <section id="artists" class="headers">
            <div class="container">
                <div class="col-xs-12">
                    <div id="artists-header">
                        <img src="{{ theme.link }}/img/artist_divider.svg" class="img-responsive">

                        <h1>{{ options.talent_header }}</h1>
                        <div style="text-align:center; font-size: 133%;">{{ options.performer_intro_content|markdown }}</div>
                    </div>
                </div>
                {{ m.artist_group(options.performer_header, artists) }}
                {{ m.artist_group(options.featured_guest_header, featured_artists) }}
                {{ m.artist_group(options.podcast_header,podcasts) }}
                {{ m.artist_group(options.even_more_header,spotlight_items) }}
                {{ m.artist_group_header(options.coming_soon_header) }}
                <div style="margin-top:39px; text-align:center; font-size: 133%;">{{ options.artist_section_footer|markdown }}</div>
                <div class="clearfix"></div>

                {% if options.show_previous_year_guests_too %}
                    <div style="margin-top:39px; text-align:center; font-size: 133%;">{{ options.previous_year_guests_intro_content|markdown }}</div>

                    {{ m.artist_group(options.performer_header_prev, artists_prev) }}
                    {{ m.artist_group(options.featured_guest_header_prev, featured_artists_prev) }}
                    {{ m.artist_group(options.podcast_header_prev,podcasts_prev) }}
                    {{ m.artist_group(options.even_more_header_prev,spotlight_items_prev) }}
                {% endif %}
                <div class="clearfix"></div>

            </div>
        </section>

        <section id="map" class="joco_beige">
            <div class="container">
                <div class="col-xs-12 {{ skip_map?'skip-map' }}">
                    {% if skip_map %}
                        <h1>{{ skip_map_post.title }}</h1>
                        {{ skip_map_post.content }}
                    {% else %}
                        <div class="map-cities">
                            <img src="{{ theme.link }}/img/map.png?2019" id="map-background">
                            {% set map_width=1650 %}
                            {% set map_height=1194 %}
                            {% for city in map_cities %}

                                <div class="map-city" id="{{ city.post_name }}"
                                     style="left:{{ city.left_position(map_width) }}%; top:{{ city.top_position(map_height) }}%;">
                                    <h1 class="{{ city.invert_label_position?'down' }}">{{ city.title }}</h1>
                                    <span class="glyphicon glyphicon-plus point" aria-hidden="true"></span>

                                    <div class="map-city-about hidden-xs hidden-sm {{ city.invert_label_position?'up' }} {{ city.invert_info_position?'info-up' }}">
                                        <span>{{ city.title }}</span>{{ city.content }}</div>
                                </div>
                            {% endfor %}

                        </div>
                        <div class="map-info visible-xs-block visible-sm-block">
                            <p id="map-copy">
                                {{ options.map_info_copy }}
                            </p>
                            {% for city in map_cities %}

                                <div class="map-narrow-info headers" id="info-{{ city.post_name }}">
                                    <span class="glyphicon glyphicon-remove"></span>
                                    <h4>{{ city.title }}</h4>

                                    <p>{{ city.content }}</p>
                                </div>

                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>
        </section>

        <!--contact-->
        <section id="contact" class="joco_blue">
            <h1 id="contact-header">Contact Us</h1>

            <div class="container">
                <div class="col-xs-12 col-sm-6 col-md-5 headers">
                    {% if options.general_questions_address %}
                        <div class="contact-info-group">
                            <div class="contact-icon" id="contact-icon-info">
                                <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                            </div>
                            <div class="contact-text headers">
                                <h5>{{ options.general_questions_header }}</h5>
                                <a href="mailto: {{ options.general_questions_address }}">{{ options.general_questions_address }}</a>
                            </div>
                        </div>
                    {% endif %}
                    {% if options.booking_questions_address %}

                        <div class="contact-info-group">
                            <div class="contact-icon" id="contact-icon-booking">
                                <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                            </div>
                            <div class="contact-text headers">
                                <h5>{{ options.booking_questions_header }}</h5>
                                <a href="mailto: {{ options.booking_questions_address }}">{{ options.booking_questions_address }}</a>
                            </div>
                        </div>
                    {% endif %}
                    {% if options.phone_questions_number %}
                        <div class="contact-info-group">
                            <div class="contact-icon" id="contact-icon-phone">
                                <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
                            </div>
                            <div class="contact-text headers">
                                <h5>{{ options.phone_questions_header }}</h5>
                                {{ options.phone_questions_number }}
                            </div>
                        </div>
                    {% endif %}
                    <div class="contact-info-group contact-social">
                        {% if options.link_to_facebook_page %}
                            <a href="{{ options.link_to_facebook_page }}" class="contact-social-icon facebook"
                               target="_blank"></a>
                        {% endif %}
                        {% if options.link_to_twitter %}
                            <a href="{{ options.link_to_twitter }}" class="contact-social-icon twitter"
                               target="_blank"></a>
                        {% endif %}
                        {% if options.link_to_instagram %}
                            <a href="{{ options.link_to_instagram }}" class="contact-social-icon insta"
                               target="_blank"></a>
                        {% endif %}
                    </div>
                </div>
                <div id="contact-form-container" class="col-xs-12 col-sm-6 col-md-7">
                    <form name="form" action="{{ theme.link }}/contact_form_submit.php" method="post"
                          id="contact-form" novalidate class="clearfix">
                        <div class="contact-input" id="contact-input-email">
                            <input name="email" type="email" id="email" placeholder="your email address*">
                        </div>
                        <div class="contact-input" id="contact-input-name">
                            <input type="text" id="name" name="name" placeholder="your name*">
                        </div>
                        <input type="text" id="honeypot" name="honeypot" aria-hidden="true"
                               placeholder="Please leave blank.">

                        <div class="contact-comments" id="contact-comments">
                            <textarea name="comments" id="comments" placeholder="your message*"></textarea>
                        </div>
                        <div style="width:75%; margin:auto;">
                            <div class="recaptcha-container">
                                <div class="g-recaptcha" data-sitekey="6LdDyQUTAAAAAHpsqVuzy36d-8y5w7y7jyPvXE_d"
                                     data-theme="dark"></div>
                            </div>
                            <button id="contact-button" class="btn btn-lg btn-info contact-button" type="submit"
                                    value="Submit">Submit
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </section>
    {% if front_page_faqs %}
        <section id="faqs">
            <div class="faq container">
                <div class="faq col-xs-12 col-md-12">
                    <h1><span>Frequently Asked</span><br>Questions</h1>
                </div>
                <div class="col-xs-12 hidden-sm hidden-md hidden-lg">
                    <div data-slick='{"slidesToShow": 1, "slidesToScroll": 1}' class="slick-element">
                        {% for faq in front_page_faqs %}
                            <div>
                                <div class="faq-item-question"><a
                                            href="{{ faq_link }}#{{ faq.slug }}">{{ faq.title }}</a>
                                </div>
                                <div class="faq-item-answer">{{ faq.joco_excerpt() }}</div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="hidden-xs col-sm-12">
                    <div data-slick='{"slidesToShow": 3, "slidesToScroll": 1}' class="slick-element">
                        {% for faq in front_page_faqs %}
                            <div>
                                <div class="faq-item-question"><a
                                            href="{{ faq_link }}#{{ faq.slug }}">{{ faq.title }}</a>
                                </div>
                                <div class="faq-item-answer">{{ faq.joco_excerpt() }}</div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <a id="faq-view-all" href="{{ faq_link }}">View All FAQS</a>
            </div>
        </section>
    {% endif %}
    <script type='text/javascript'>
        // Contact form validation
        jQuery('#contact-form').submit(function () {
            function validateEmail(jQueryemail) {
                var emailReg = /^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/;
                if (!emailReg.test(jQueryemail)) {
                    return false;
                } else {
                    return true;
                }
            }

            jQuery('.contact-input p, .contact-comments p, #contact-form p').remove();
            jQuery('#name,#email,#comments').removeClass('orange-border');
            var name = false;
            var email = false;
            var comments = false;
            var recaptcha = false;
            if (jQuery('#comments').val().length == 0) {
                jQuery('#comments').addClass('orange-border');
                jQuery('#comments').focus();
                jQuery('#contact-comments').append('<p class="plain-text">Please enter your message.</p>');
                comments = false;
            } else {
                comments = true;
            }
            if (jQuery('#name').val().length == 0) {
                jQuery('#name').addClass('orange-border');
                jQuery('#name').focus();
                jQuery('#contact-input-name').append('<p class="plain-text">Please enter your name.</p>');
                name = false;
            } else {
                name = true;
            }
            var emailString = jQuery('#email').val();
            if ((emailString.length == 0) || !validateEmail(emailString)) {
                jQuery('#email').addClass('orange-border');
                jQuery('#email').focus();
                jQuery('#contact-input-email').append('<p class="plain-text">Please enter a valid email address.</p>');
                email = false;
            } else {
                email = true;
            }
            if (jQuery("#g-recaptcha-response").val().length == 0) {
                jQuery(".g-recaptcha").after('<p class="recaptcha-error">Please assure us that you are not a robot.</p>');
                //jQuery(".g-recaptcha").after('<p class="recaptcha-error">Value: '+jQuery("#g-recaptcha-response").val()+'</p>');
                recaptcha = false;
            } else {
                recaptcha = true;
            }
            if (name && email && comments && recaptcha) {
                jQuery('#name, #email').removeClass('orange-border');
                jQuery('#contact button').after('<div id="contact-received">Sending...</div>');
                jQuery.post(jQuery('#contact-form').attr('action'), jQuery("#contact-form").serialize(), function (data) {
                    grecaptcha.reset();
                    console.log(data);
                    jQuery("#contact-received").text(data);
                    // Thank you! Your message has been sent.
                });
            }
            return false;
        });

        var mapBehavior = function () {
            jQuery('.map-city').hide().show(0); // force redraw to gaurantee placement on window resize
            if (jQuery(window).width() > 992) {
                jQuery('#map').click(function () {
                    jQuery('.point').removeClass('glyphicon-minus').addClass('glyphicon-plus');
                    jQuery('.map-city-about').fadeOut('fast');
                });
                jQuery('.point').mouseover(function () {
                    if (!jQuery(this).is(jQuery('.glyphicon-minus'))) {
                        jQuery('.point').removeClass('glyphicon-minus').addClass('glyphicon-plus');
                        jQuery('.map-city-about').fadeOut('fast');
                        jQuery(this).siblings('.map-city-about').fadeIn('fast');
                        jQuery(this).removeClass('glyphicon-plus').addClass('glyphicon-minus');
                    }
                });
            } else {
                jQuery('.point').click(function () {
                    jQuery('span.glyphicon.point').removeClass('glyphicon-minus').addClass('glyphicon-plus');
                    var cityName = jQuery(this).parent().attr('id');
                    var infoCityName = '#info-' + cityName;

                    if (jQuery('' + infoCityName + '').is(':visible')) {
                        jQuery('' + infoCityName + '').slideUp('fast', function () {
                            jQuery('#' + cityName + ' span.glyphicon').removeClass('glyphicon-minus').addClass('glyphicon-plus');
                            jQuery('#map-copy').fadeIn('fast');
                        });
                    } else {
                        jQuery('.map-info').contents().hide();
                        jQuery('' + infoCityName + '').slideDown('fast');
                        jQuery('#' + cityName + ' span.glyphicon').removeClass('glyphicon-plus').addClass('glyphicon-minus');
                    }
                });
                jQuery('.map-narrow-info span.glyphicon').click(function () {
                    jQuery(this).closest('.map-narrow-info').slideUp('fast', function () {
                        jQuery('span.glyphicon.point').removeClass('glyphicon-minus').addClass('glyphicon-plus');
                        jQuery('#map-copy').fadeIn('fast');
                    });

                });
            }
        };

        jQuery(document).ready(function () {
            //presentational map copy placement on narrow
            var jQuerymapCopy = jQuery('#map-copy');
            var mapCopyHeight = jQuery('#map-copy').height();
            jQuerymapCopy.css({
                'position': 'absolute',
                'top': '50%',
                'margin-top': -mapCopyHeight / 2
            });
            //initial call of mapBehavior()
            mapBehavior();
        });

        jQuery(window).resize(function () {
            if (jQuery(window).width() > 992) {
                //artist
                jQuery('#overflow').css('left', 0);
                jQuery('#faq-overflow').css('left', 0);
                //map
                jQuery('.map-city-about').hide();
            } else {
                //map
                jQuery('.point').unbind('click');
                jQuery('.map-narrow-info').hide();
            }
            //resize call on mapBehavior()
            mapBehavior();
        });
    </script>
{% endblock %}
