{% extends 'base.twig' %}

{% block content %}
    <style>
        body {
            background-color: #ffffff;
        }
    </style>

    <section id="page-experience">
        <section id="what-is" class="nav-spacer">
            <div class="container">
                <div class="col-xs-12">
                    <img class="img-responsive" style="width:678px;" src="{{ theme.link }}/img/joco-boat-profile.svg"
                         alt="JoCo Boat Profile Image" id="what-is-ship"/>

                    <h1>{{ options.exp_intro_header|joco_cruise_to_image }}</h1>
                </div>
        </section>
        <section id="exp-intro" class="joco_beige">
            <div class="container">
                <div class="col-xs-12 col-md-9 exp-intro-text">
                    {{ options.exp_intro_content|markdown }}
                </div>
                <div class="col-xs-12 col-md-3 center-block" style="text-align: center;">
                    {% if options.exp_featured_image_clickthrough_file %}
                        <a href="{{ options.exp_featured_image_clickthrough_file.url }}">
                            <img src="{{ exp_intro_image.src|resize(256) }}" />
                        </a>
                    {% else %}
                        <img src="{{ exp_intro_image.src|resize(256) }}" />
                    {% endif %}
                    <div class="caption">{{ exp_intro_image.caption }}</div>
                </div>
            </div>
        </section>
        <section id="main-stage" class="joco_offwhite">
            <div class="container">
                <div class="col-xs-12">
                    <h1>{{ options.exp_main_stage_header|piped_header }}</h1>
                    {{ options.exp_main_stage_content }}
                </div>
            </div>
        </section>
        <section id="featured-events" class="joco_beige">
            <div class="container">
                <div class="col-xs-12">
                    <h1>{{ options.exp_featured_events_header|piped_header }}</h1>
                    {{ options.exp_featured_events_content|markdown }}
                    <div class="slick-element">
                        {% for event in featured_events %}
                            <div>
                                <div class="col-xs-12 col-sm-3">
                                    <div class="featured-event-image" style="cursor: default;">
                                        {{ event.joco_thumbnail_markup }}
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-9 event-description">
                                    <div class="event-name">{{ event.post_title }}</div>
                                    <p>{{ event.joco_excerpt }}</p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>
        <section id="tracks" class="joco_offwhite">
            <div class="container">
                <div class="col-xs-12 col-sm-6 col-lg-5">
                    <img src="{{ theme.link }}/img/D20s.svg"
                         style="width: 255px; margin: 25px auto;" alt="Dice" class="center-block"/>

                    <h2>{{ options.exp_gaming_track_header }}</h2>
                    {{ options.exp_gaming_track_content|markdown }}
                </div>
                <div class="col-md-2 hidden-xs hidden-sm"></div>
                <div class="col-xs-12 col-sm-6 col-lg-5">
                    <img src="{{ theme.link }}/img/typewriter.svg" alt="Typewriter"
                         class="center-block" style="width: 190px; margin: 25px auto;"/>

                    <h2>{{ options.exp_writing_track_header }}</h2>
                    {{ options.exp_writing_track_content|markdown }}
                </div>
            </div>
        </section>
        <section id="community" class="joco_beige">
            <div class="container">
                <div class="col-xs-12">
                    <img src="{{ theme.link }}/img/artist_divider.svg">

                    <h1>{{ options.exp_shadow_cruise_header|piped_header }}</h1>
                    <span style="text-align:center">
                        {{ options.exp_shadow_cruise_content }}
                    </span>
                </div>
            </div>
        </section>
        <section id="exp-photos" class="joco_offwhite">
            <div class="container">
                <div class="col-xs-12">
                    <h3>{{ options.exp_photo_gallery_header|piped_header }}</h3>
                </div>
                <div class="col-xs-12">
                    {{ options.exp_photo_gallery_content|shortcodes }}
                </div>
            </div>
        </section>
        <section id="exp-more">
            <div class="container">
                <div class="col-xs-12">
                    <h4>{{ options.exp_more_info_header|piped_header }}</h4>
                    {{ options.exp_more_info_content|markdown }}
                </div>
            </div>
        </section>
    </section>
    <script type='text/javascript' src='{{ theme.link }}/js/js_behavior.js'></script>
    <script type="text/javascript" language="JavaScript">
        (function($) {
            $(document).ready(function() {
                $("#exp-photos").fitVids();
                $('.gallery a').magnificPopup({
                    type : 'image',
                    closeOnContentClick : true,
                    mainClass : 'mfp-img-mobile',
                    image : {
                        verticalFit : true,
                        horizontalFit : true
                    },
                    disableOn : function() {
                        return !($(window).width() < 600)
                    }
                });
            });
        })(jQuery);
    </script>
{% endblock %}