{% extends 'base.twig' %}

{% block content %}
    <style>
        body {
            background-color: #ffffff;
        }
    </style>

    <section id="page-experience">
        <section id="what-is" class="nav-spacer">
            <div class="container">
                <div class="col-xs-12">
                    <img class="img-responsive" style="width:678px;" src="{{ theme.link }}/img/joco-boat-profile.svg"
                         alt="JoCo Boat Profile Image" id="what-is-ship"/>

                    <h1>{{ introPost.joco_cruise_to_image_in_title }}</h1>
                </div>
        </section>
        <section id="exp-intro" class="joco_beige">
            <div class="container">
                <div class="col-xs-12 col-md-9 exp-intro-text">
                    {{ introPost.content }}
                </div>
                <div class="col-xs-12 col-md-3 center-block" style="text-align: center;">
                    {% if introPost.get_field('exp_featured_image_clickthrough_file') %}
                        <a href="{{ introPost.get_field('exp_featured_image_clickthrough_file').url }}">
                            {{ introPost.joco_thumbnail_markup('',[256,256]) }}
                        </a>
                    {% else %}
                        {{ introPost.joco_thumbnail_markup('',[256,256]) }}
                    {% endif %}
                    <div class="caption">{{ introPost.thumbnail.caption }}</div>
                </div>
            </div>
        </section>
        <section id="main-stage" class="joco_offwhite">
            <div class="container">
                <div class="col-xs-12">
                    <h1>{{ mainStagePost.parse_piped_title }}</h1>
                    {{ mainStagePost.content }}
                    {% if show_artist_section %}

                        <a href="/#artists" class="main-stage-button btn btn-lg btn-default">See who is coming so far in
                            2016</a>

                        <p>Past cruise guests include (in no particular order, OK, it's alphabetical):</p>

                        <div class="col-xs-12 col-sm-6">
                            <ul>
                                {% for artist in past_artists_left %}
                                    <li>
                                        <a href="{{ artist.permalink }}">
                                            {{ artist.post_title }}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <ul>
                                {% for artist in past_artists_right %}
                                    <li>
                                        <a href="{{ artist.permalink }}">
                                            {{ artist.post_title }}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                </div>
            </div>
        </section>
        <section id="featured-events" class="joco_beige">
            <div class="container">
                <div class="col-xs-12">
                    <h1>{{ featuredEventsHeaderPost.parse_piped_title }}</h1>
                    {{ featuredEventsHeaderPost.content }}
                    <div class="slick-element">
                        {% for event in featured_events %}
                            <div>
                                <div class="col-xs-12 col-sm-3">
                                    <div class="featured-event-image" style="cursor: default;">
                                        {{ event.joco_thumbnail_markup }}
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-9 event-description">
                                    <div class="event-name">{{ event.post_title }}</div>
                                    <p>{{ event.joco_excerpt }}</p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>
        <section id="tracks" class="joco_offwhite">
            <div class="container">
                <div class="col-xs-12 col-sm-6 col-lg-5">
                    <img src="{{ theme.link }}/img/D20s.svg"
                         style="width: 255px; margin: 25px auto;" alt="Dice" class="center-block"/>

                    <h2>{{ gamingTrackPost.post_title }}</h2>
                    {{ gamingTrackPost.content }}
                </div>
                <div class="col-md-2 hidden-xs hidden-sm"></div>
                <div class="col-xs-12 col-sm-6 col-lg-5">
                    <img src="{{ theme.link }}/img/typewriter.svg" alt="Typewriter"
                         class="center-block" style="width: 190px; margin: 25px auto;"/>

                    <h2>{{ writingTrackPost.post_title }}</h2>
                    {{ writingTrackPost.content }}
                </div>
            </div>
        </section>
        <section id="community" class="joco_beige">
            <div class="container">
                <div class="col-xs-12">
                    <img src="{{ theme.link }}/img/artist_divider.svg">

                    <h1>{{ shadowCruisePost.parse_piped_title }}</h1>
                    <span style="text-align:center">
                        {{ shadowCruisePost.content }}
                    </span>
                </div>
            </div>
        </section>
        <section id="exp-photos" class="joco_offwhite">
            <div class="container">
                <div class="col-xs-12">
                    <h3>{{ photoGalleryPost.parse_piped_title2 }}</h3>
                </div>
                <div class="col-xs-12">
                    {{ photoGalleryPost.content }}
                </div>
            </div>
        </section>
        <section id="exp-more">
            <div class="container">
                <div class="col-xs-12">
                    <h4>{{ moreInfoPost.parse_piped_title }}</h4>
                    {{ moreInfoPost.content }}
                </div>
            </div>
        </section>
    </section>
    <!-- We might still want to concatenate these into one js file to load -->
    <script type='text/javascript' src='{{ theme.link }}/js/js_behavior.js'></script>
    <script type='text/javascript' src='{{ theme.link }}/js/js_experience.js'></script>
{% endblock %}